@import "./theme/index";


/**
定义混入
通过循环生成所有皮肤样式
 */
@mixin themify($themes: $themes) {
  @each $theme-name, $map in $themes {
    .theme-#{$theme-name} & {
      $theme-map: () !global;
      $theme-map:() !global;

      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;

      $theme-map: null !global;

    }
  }
}

@function themed($key){
  @return map_get($theme-map, $key);
}

@mixin pickArea {
  & /deep/ {
    border: none;
    padding: 0px;
    .el-icon-info {
      cursor: pointer;
    }
    .el-radio-group {
      position: relative;
      border-radius:16px;
      @include themify(){
        background: themed('btn-unchecked-bg');
        color:themed('text-h');
      }
    }
    .el-form-item {
      margin-bottom: 5px;
      .el-form-item__content .el-input-group {
        vertical-align: unset;
      }
      .el-radio-button:first-child .el-radio-button__inner {
        margin-left: 0px;
      }
      .el-radio-button__inner {
        border-radius: 45px;
      }
      .el-radio-button__inner,
      .el-checkbox-button__inner{
        padding:8px 20px;
        margin-left: 10px;
        border-radius: 16px;
        opacity:0.8;
        @include themify() {
          color: themed('text-h');
          border:none;
          background: themed('btn-unchecked-bg');
        }
        &:hover{
          @include themify(){
            background: themed('btn-hover-bg');
            color:themed('btn-hover-text');
          }
        }
      }
      .el-radio-button__orig-radio:checked+.el-radio-button__inner,
      .el-checkbox-button.is-checked .el-checkbox-button__inner {
        opacity: 1;
        @include themify() {
          color: themed('btn-checked-text');
          background-color: themed('btn-checked-bg');
        }
        box-shadow: none;
      }
      .el-checkbox-button {
        &:first-child .el-checkbox-button__inner {
          margin-left: 0;
        }
      }
      .el-input--mini .el-input__icon{
        line-height:34px;
      }
    }
  }
}
@mixin account {
  .el-form /deep/{
    width: 80%;
    margin-left: 10%;
    position: relative;
    .el-form-item__label {
      @include themify(){
        color:themed('label-color');
      }
    }
    .el-form-item.inlineForm {
      min-width: 150px;
      .el-form-item__content {
        display: flex;
        flex-direction: row;
        .el-select > .el-input {
          width: 368px;
          display: flex;
          .el-input__inner {
            height:40px;
          }
        }
      }
      .el-form-item__error {
        color: #F56C6C;
        font-size: 12px;
        line-height: 1;
        padding-top: 0;
        position: static;
        width: auto;
        display: flex;
        margin-left: 14px;
        align-items: center;
        font-size: 14px;
      }
    }
    .el-button.submit {
      position: absolute;
      z-index: 9;
      right: 0;
      bottom: 0;
    }
  }
}

@mixin inputStyle {
  border-radius:16px;
  border-radius:20px;
  &{
    @include themify() {
      border-color:themed('input-border');
      color: themed('input-color');
      background-color: themed('input-bg');
    }
  }
  &:focus,&:hover {
    @include themify() {
      border-color: themed('input-active-border');
    }
  }
}

@mixin checkbox {
  .el-checkbox__inner {
    position: relative;
    transition: color .25s;
    width: 20px;
    height: 20px;
    @include themify() {
      border-color: themed('checkbox-bg-checked');
      background: themed('checkbox-bg-checked');
    }
    &::before{
      content: '';
      position: absolute;
      left: 4px;
      top: 8px;
      width: 10px;
      margin: 0;
      @include themify() {
        border-top: 2px solid themed('checkbox-inner');
      }
      box-sizing: content-box;
    }
    &::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      height: 10px;
      transform: none;
      border: none;
      @include themify() {
        border-left: 2px solid themed('checkbox-inner');
      }
    }
  }
  &.is-checked .el-checkbox__inner{
    @include themify() {
      border-color: themed('checkbox-bg-unchecked');
      background: themed('checkbox-bg-unchecked');
    }
    &::after {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 8px;
      width: 10px;
      margin: 0;
      @include themify() {
        border-top: 2px solid themed('checkbox-inner');
      }
      box-sizing: content-box;
    }
  }
}
